html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #282c34;
  overflow: hidden;
  cursor: hidden;
}

.ball {
  background-color: #20b473;
  border-radius: 100%;
  position: fixed;
  width: 100px;
  height: 100px;
}
